input[type=text],select{
    width: 100%;
    padding: 12px 20px;
    margin:8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
div{
    border-radius: 5px;
    background-color: rgb(250, 248, 248);
    padding: 20 px;
    margin: 20px;
    
}
.has-error input[type="text"],.has-error input[type="password"]{
    border-color: red;
}
