<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <span>Shopping Cart</span>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
    <a class="p-2 text-dark" href="#">Enterprise</a>
    <a class="p-2 text-dark" href="#">Support</a>
    <a class="p-2 text-dark" href="#">Pricing</a>
  </nav>
  <a class="btn btn-primary" [routerLink]="['/register']">Sign up</a>
  <a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a>
</div>
<div class="col-md-4">
  <div class="card filters">
    <div class="card-header">
      <strong>Filters</strong>
    </div>
    <div class="card-body">
            <div class="docs-example-viewer-wrapper">
              <div class="docs-example-viewer-title mat-elevation-z2">
                <div class="docs-example-viewer-title-spacer">
                  <h1>Price Filter</h1>
                </div>
              </div>
              <div class="docs-example-viewer-body">
                <mat-slider class="full-width"  [max]="max" [min]="min" [step]="step" [thumbLabel]="thumbLabel" [displayWith]="formatLabel"
                  [(ngModel)]="value" (change)="onChange(value)"></mat-slider>
              </div>
              <div class="d-flex justify-content-around p-2">
                <div><strong>{{min | currency: 'INR'}}</strong></div>
                <div>to</div>
                <div><strong>{{value | currency: 'INR'}}</strong></div>
              </div>
            </div>