<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bookart</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a  routerLink="/pricefilter" routerLinkActive="active"><button>price</button></a>
        <li class="active"><a  routerLink="/bookfilter" routerLinkActive="active"><button>booK</button></a>
    
        <a *ngIf="loggedIn"class="button" (click)="logout()"><button>Logout</button></a>
    </ul>
  </div>
</nav>
<app-home></app-home>


  <router-outlet></router-outlet>
