<div class="headerr">
  <div class="header-right">
    <a class="active" href="#">Home</a>
    
  </div>
  <div class="header-left">
    <a>
      <mat-icon matBadge={{totalCartItem}} matBadgeColor="warn" matBadgeOverlap="true">notifications</mat-icon>
    </a>
    <a href="#">Login</a>
    <a href="#">SignUp</a>
  </div>
</div>
<div class="container">
  <!-- <div class="row"> -->
     <!-- <div class="col-md-4"> -->
      <mat-card class="example-card" *ngFor="let item of productList">
        <!-- <mat-card-header> -->
          <img mat-card-image class="mat-card-img" src="{{url}}{{item.coverFileName}}" alt="image">
        <!-- </mat-card-header> -->
        <mat-card-title>{{item.title}}</mat-card-title>
          
          <span>{{item.price | currency:'INR'}}</span>
        <mat-card-actions>
          <app-snackbar-comp></app-snackbar-comp>
        </mat-card-actions>
       </mat-card>
    <!-- </div> -->
   <!-- </div>  -->
</div>
<router-outlet></router-outlet>